<a href="https://colab.research.google.com/github/camilacruz-cs/pretalab-ciclo14-python/blob/main/Aula_5_Banco_de_Dados_em_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Prática CRUD com SQLite3 em Python

In [ ]:
import sqlite3

## 1. Criando conexão com o banco SQLite

In [ ]:
con = sqlite3.connect("ecommerce.db")
cur = con.cursor()

## 2. Criando tabelas

In [ ]:
cur.execute("""
CREATE TABLE IF NOT EXISTS usuarios (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    nome TEXT NOT NULL,
    email TEXT UNIQUE NOT NULL,
    senha TEXT NOT NULL,
    data_criacao TIMESTAMP DEFAULT CURRENT_TIMESTAMP
);
""")

cur.execute("""
CREATE TABLE IF NOT EXISTS produtos (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    nome TEXT NOT NULL,
    preco REAL NOT NULL,
    estoque INTEGER NOT NULL
);
""")

cur.execute("""
CREATE TABLE IF NOT EXISTS pedidos (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    usuario_id INTEGER NOT NULL,
    data_pedido TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
    status TEXT DEFAULT 'Pendente',
    FOREIGN KEY(usuario_id) REFERENCES usuarios(id)
);
""")

cur.execute("""
CREATE TABLE IF NOT EXISTS itens_pedido (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    pedido_id INTEGER NOT NULL,
    produto_id INTEGER NOT NULL,
    quantidade INTEGER NOT NULL,
    preco_unitario REAL NOT NULL,
    FOREIGN KEY(pedido_id) REFERENCES pedidos(id),
    FOREIGN KEY(produto_id) REFERENCES produtos(id)
);
""")

con.commit()

## 3. Inserindo dados (CREATE)

In [ ]:
#Adicionando usuários
usuarios = [
    ("João Silva", "joao@email.com", "123456"),
    ("Maria Souza", "maria@email.com", "abcdef"),
    ("Carlos Pereira", "carlos@email.com", "senha123")
]

cur.executemany("INSERT OR REPLACE INTO usuarios (nome, email, senha) VALUES (?, ?, ?)", usuarios)

#Adicionando produtos
produtos = [
    ("Azeite Andorinha", 39.20, 20),
    ("Papel Higiênico", 20, 20),
    ("Suco de Laranja", 15, 3)
]

cur.executemany("INSERT INTO produtos (nome, preco, estoque) VALUES (?, ?, ?)", produtos)


#Adicionando itens_pedido

itens = [
    (1, 2, 8, 90),
    (1, 3, 2, 15),
    (2, 1, 5, 39.2)
]




cur.executemany("INSERT INTO itens_pedido (pedido_id, produto_id, quantidade, preco_unitario) VALUES (?, ?, ?, ?)",
    itens)

con.commit()

## 4. Consultando dados (READ)

In [ ]:
#Consultando usuários
print("Usuários:")
for row in cur.execute("SELECT * FROM usuarios"):
    print(row)

#Consultando produtos

print("Produtos:")
for row in cur.execute("Select * From produtos"):
  print(row)

#Consultando itens_pedidos

print("itens_pedido")
for row in cur.execute("Select * from itens_pedido"):
  print(row)

Usuários:
(7, 'João Silva', 'joao@email.com', '123456', '2025-09-25 00:26:59')
(8, 'Maria Souza', 'maria@email.com', 'abcdef', '2025-09-25 00:26:59')
(9, 'Carlos Pereira', 'carlos@email.com', 'senha123', '2025-09-25 00:26:59')
Produtos:
(1, 'Azeite Andorinha', 39.2, 20)
(2, 'Papel Higiênico', 20.0, 20)
(3, 'Suco de Laranja', 15.0, 3)
(4, 'Azeite Andorinha', 39.2, 20)
(5, 'Papel Higiênico', 20.0, 20)
(6, 'Suco de Laranja', 15.0, 3)
itens_pedido
(1, 1, 2, 8, 90.0)
(2, 1, 3, 2, 15.0)
(3, 2, 1, 5, 39.2)

## 5. Atualizando dados (UPDATE)

In [ ]:
cur.execute("UPDATE produtos SET estoque = estoque - 1 WHERE id = 1")
con.commit()

print("\nEstoque atualizado:")
for row in cur.execute("SELECT * FROM produtos"):
    print(row)

Estoque atualizado:
(1, 'Azeite Andorinha', 39.2, 19)
(2, 'Papel Higiênico', 20.0, 20)
(3, 'Suco de Laranja', 15.0, 3)
(4, 'Azeite Andorinha', 39.2, 20)
(5, 'Papel Higiênico', 20.0, 20)
(6, 'Suco de Laranja', 15.0, 3)

## 6. Deletando dados (DELETE)

In [ ]:
cur.execute("DELETE FROM usuarios WHERE id = 3")
con.commit()

print("\nUsuários após exclusão:")
for row in cur.execute("SELECT * FROM usuarios"):
    print(row)

Usuários após exclusão:
(7, 'João Silva', 'joao@email.com', '123456', '2025-09-25 00:26:59')
(8, 'Maria Souza', 'maria@email.com', 'abcdef', '2025-09-25 00:26:59')
(9, 'Carlos Pereira', 'carlos@email.com', 'senha123', '2025-09-25 00:26:59')

## 7. Consultas com agregação

In [ ]:
print("\nPreço médio dos produtos:")
for row in cur.execute("SELECT AVG(preco) FROM produtos"):
    print(row)

print("\nTotal de produtos cadastrados:")
for row in cur.execute("SELECT COUNT(*) FROM produtos"):
    print(row)

Preço médio dos produtos:
(24.733333333333334,)

Total de produtos cadastrados:
(6,)

## 8. Exercício: Criando e manipulando uma tabela de categorias

Agora, crie uma tabela chamada categorias para armazenar as categorias dos produtos.
Em seguida:

1. Insira pelo menos 3 registros.

2. Liste todas as categorias.

3. Atualize o nome de uma categoria.

4. Exclua uma categoria.

In [ ]:
cur.execute("""
CREATE TABLE IF NOT EXISTS categoria_produtos (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    produto TEXT NOT NULL,
    categoria TEXT NOT NULL,
    criado_em TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
    atualizado_em TIMESTAMP DEFAULT CURRENT_TIMESTAMP

);
""")

con.commit()

In [ ]:
categoria_produtos = [
    ("Mesa de Cabeceira", "Móvel", "2025-09-24","2025-09-24"),
    ("Mesa de Centro", "Móvel", "2025-09-24","2025-09-24"),
    ("Notebook Dell - i7, Preto, 15 polegadas", "Eletrônico", "2018-01-24","2025-09-24"),
    ("Azeite Andorinha", "Alimentos", "2025-09-23", "2025-09-23"),
    ("Papel Higiênico", "Higiene", "2025-09-23", "2025-09-23"),
    ("Suco de Laranja", "Bebidas", "2025-09-23", "2025-09-23")
]


cur.executemany(
    "INSERT OR IGNORE INTO categoria_produtos (produto, categoria, criado_em, atualizado_em) VALUES (?, ?, ?, ?)",
    categoria_produtos
)


con.commit()

In [ ]:
print("categoria_produtos:")
for row in cur.execute("Select * from categoria_produtos"):
    print (row)

categoria_produtos:
(1, 'Mesa de Cabeceira', 'Móvel', '2025-09-24', '2025-09-24')
(4, 'Notebook Dell - i7, Preto, 15 polegadas', 'Eletrônico', '2018-01-24', '2025-09-24')
(5, 'Azeite Andorinha', 'Alimentos', '2025-09-23', '2025-09-23')
(6, 'Papel Higiênico', 'Higiene', '2025-09-23', '2025-09-23')
(7, 'Suco de Laranja', 'Bebidas', '2025-09-23', '2025-09-23')

In [ ]:
cur.execute(
    "UPDATE categoria_produtos SET produto = ?, atualizado_em = ? WHERE id = ?",
    ("Mesa de Cabeceira Luxo", "2025-09-24", 1)
)
con.commit()


print("categoria_produtos: ")

for row in cur.execute("select * from categoria_produtos"):
  print(row)

categoria_produtos:
(1, 'Mesa de Cabeceira Luxo', 'Móvel', '2025-09-24', '2025-09-24')
(4, 'Notebook Dell - i7, Preto, 15 polegadas', 'Eletrônico', '2018-01-24', '2025-09-24')
(5, 'Azeite Andorinha', 'Alimentos', '2025-09-23', '2025-09-23')
(6, 'Papel Higiênico', 'Higiene', '2025-09-23', '2025-09-23')
(7, 'Suco de Laranja', 'Bebidas', '2025-09-23', '2025-09-23')

In [ ]:
cur.execute("DELETE FROM categoria_produtos WHERE id = 7")
con.commit()

print("categoria_produtos: ")
for row in cur.execute("select * from categoria_produtos"):
  print(row)

categoria_produtos:
(1, 'Mesa de Cabeceira Luxo', 'Móvel', '2025-09-24', '2025-09-24')
(4, 'Notebook Dell - i7, Preto, 15 polegadas', 'Eletrônico', '2018-01-24', '2025-09-24')
(5, 'Azeite Andorinha', 'Alimentos', '2025-09-23', '2025-09-23')
(6, 'Papel Higiênico', 'Higiene', '2025-09-23', '2025-09-23')