<a href="https://colab.research.google.com/github/camilacruz-cs/pretalab-ciclo14-python/blob/main/Aula_6_Autogest%C3%A3o_Banco_de_Dados_Relacionais_e_SQL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Autogest√£o - Banco de Dados Relacionais e SQL

Utilize DB-fiddle: https://www.db-fiddle.com/

### 1. Criando tabelas (15 min)

a. Crie uma tabela chamada filmes com as colunas:

* id (inteiro, chave prim√°ria, serial (autoincremento))
* titulo (texto, obrigat√≥rio)
* genero (texto, obrigat√≥rio)
* ano_lancamento (inteiro)

b. Crie uma tabela chamada avaliacoes com as colunas:

* id (inteiro, chave prim√°ria, serial(autoincremento))
* filme_id (inteiro, chave estrangeira que referencia a tabela filmes)
* nota (inteiro, de 1 a 5)
* comentario (texto, opcional)

### 2. Inserindo linhas nas tabelas (15 min)

a. Insira 20 filmes diferentes na tabela, de g√™neros variados (a√ß√£o, com√©dia, drama, anima√ß√£o, etc.).

b. Insira 40 avalia√ß√µes para diferentes filmes, variando as notas (ex.: um filme com nota 5, outro com nota 3).

üëâ Dica: Podemos usar IA para gerar exemplos para Banco de Dados.

### 3. Consultando filmes

a. Liste todos os filmes de um √∫nico g√™nero.

b. Depois, liste apenas os filmes lan√ßados depois de 2010.

c. Liste todos os filmes em ordem alfab√©tica de t√≠tulo.

d. Liste todos os filmes ordenados pelo ano de lan√ßamento (mais recente primeiro).

### 4. Consultando avalia√ß√µes

a. Liste todas as avalia√ß√µes ordenadas por nota decrescente.

b. Selecione todas as avalia√ß√µes com nota maior ou igual a 4.

c. Selecione os coment√°rios em que aparece as palavras 'bom' ou 'gostei'.

### 5. Fun√ß√µes de agrega√ß√£o

a. Verifique quantos filmes existem na tabela para cada g√™nero.

b. Calcule a m√©dia das notas por filme (agrupando pelo filme_id).

c. Liste apenas os filmes com nota m√©dia maior que 4.

### 6. Atualizando e removendo registros

a. Atualize a nota de uma avalia√ß√£o de 3 para 4.

b. Delete todas as avalia√ß√µes com nota igual a 1.

## Parte 2 - Pr√°tica em SQLite com Python

Usando Python e o pacote sqlite3:

a. Crie o banco de dados local `cinema.db` e adicione as tabelas filmes e avaliacoes com os campos definidos acima.

b. Implemente as quatro opera√ß√µes CRUD para ambas tabelas, ou seja, insira, leia, atualize e remova registros diretamente pelo Python.

In [1]:
import sqlite3

In [2]:
#Passo 1 - Cria√ß√£o do BD - Cinema.db

con = sqlite3.connect("cinema.db")
cur = con.cursor()

In [3]:
#Passo 2 - Adicionando tabelas de filmes e avalia√ß√µes

cur.execute("""
CREATE TABLE IF NOT EXISTS filmes (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    filme TEXT NOT NULL,
    diretor TEXT NOT NULL,
    genero TEXT NOT NULL,
    ano_lancamento TIMESTAMP
);
""")

con.commit()

In [4]:
cur.execute("""
CREATE TABLE IF NOT EXISTS avaliacoes (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    filme_id INTEGER NOT NULL,
    nota INTEGER,
    comentario TEXT,
    FOREIGN KEY(filme_id) REFERENCES filmes(id)
);
""")

con.commit()

In [5]:
cur.execute("DELETE FROM avaliacoes")
cur.execute("DELETE FROM filmes")
con.commit()

In [6]:
#Passo 3 - Alimentando as tabelas cinema e avalia√ß√µes

cur.executemany("""
INSERT INTO filmes (filme, diretor, genero, ano_lancamento)
VALUES (?, ?, ?, ?)
""", [
    ("Interestelar", "Christopher Nolan", "Fic√ß√£o Cient√≠fica", "2014-11-06"),
    ("Parasita", "Bong Joon-ho", "Drama", "2019-05-30"),
    ("O Poderoso Chef√£o", "Francis Ford Coppola", "Crime", "1972-03-24"),
    ("A Origem", "Christopher Nolan", "Fic√ß√£o Cient√≠fica", "2010-07-16"),
    ("Matrix", "Lana Wachowski", "Fic√ß√£o Cient√≠fica", "1999-03-31"),
    ("Clube da Luta", "David Fincher", "Drama", "1999-10-15"),
    ("Pulp Fiction", "Quentin Tarantino", "Crime", "1994-10-14"),
    ("Forrest Gump", "Robert Zemeckis", "Drama", "1994-07-06"),
    ("O Senhor dos An√©is: A Sociedade do Anel", "Peter Jackson", "Fantasia", "2001-12-19"),
    ("O Senhor dos An√©is: As Duas Torres", "Peter Jackson", "Fantasia", "2002-12-18"),
    ("O Senhor dos An√©is: O Retorno do Rei", "Peter Jackson", "Fantasia", "2003-12-17"),
    ("Gladiador", "Ridley Scott", "A√ß√£o", "2000-05-05"),
    ("Coringa", "Todd Phillips", "Drama", "2019-10-03"),
    ("Titanic", "James Cameron", "Romance", "1997-12-19"),
    ("Avatar", "James Cameron", "Fic√ß√£o Cient√≠fica", "2009-12-18"),
    ("Os Infiltrados", "Martin Scorsese", "Crime", "2006-10-06"),
    ("Ilha do Medo", "Martin Scorsese", "Thriller", "2010-02-19"),
    ("A Lista de Schindler", "Steven Spielberg", "Hist√≥rico", "1993-12-15"),
    ("Jurassic Park", "Steven Spielberg", "Aventura", "1993-06-11"),
    ("E.T. O Extraterrestre", "Steven Spielberg", "Fic√ß√£o Cient√≠fica", "1982-06-11"),
    ("O Resgate do Soldado Ryan", "Steven Spielberg", "Guerra", "1998-07-24"),
    ("Infiltrado na Klan", "Spike Lee", "Drama", "2018-08-10"),
    ("Django Livre", "Quentin Tarantino", "Faroeste", "2012-12-25"),
    ("Bastardos Ingl√≥rios", "Quentin Tarantino", "Guerra", "2009-08-21"),
    ("Kill Bill Vol. 1", "Quentin Tarantino", "A√ß√£o", "2003-10-10"),
    ("Kill Bill Vol. 2", "Quentin Tarantino", "A√ß√£o", "2004-04-16"),
    ("O Irland√™s", "Martin Scorsese", "Crime", "2019-11-27"),
    ("Os Bons Companheiros", "Martin Scorsese", "Crime", "1990-09-19"),
    ("Taxi Driver", "Martin Scorsese", "Drama", "1976-02-08"),
    ("O Lobo de Wall Street", "Martin Scorsese", "Com√©dia", "2013-12-25"),
    ("A Vida √© Bela", "Roberto Benigni", "Drama", "1997-12-20"),
    ("Cidade de Deus", "Fernando Meirelles", "Crime", "2002-08-30"),
    ("Central do Brasil", "Walter Salles", "Drama", "1998-04-03"),
    ("Que Horas Ela Volta?", "Anna Muylaert", "Drama", "2015-08-27"),
    ("O Auto da Compadecida", "Guel Arraes", "Com√©dia", "2000-09-15"),
    ("Carandiru", "Hector Babenco", "Drama", "2003-04-11"),
    ("Se Eu Fosse Voc√™", "Daniel Filho", "Com√©dia", "2006-01-06"),
    ("Tropa de Elite", "Jos√© Padilha", "A√ß√£o", "2007-10-05"),
    ("Tropa de Elite 2", "Jos√© Padilha", "A√ß√£o", "2010-10-08"),
    ("Aquarius", "Kleber Mendon√ßa Filho", "Drama", "2016-09-01")
])

cur.executemany("""
INSERT INTO avaliacoes (filme_id, nota, comentario)
VALUES (?, ?, ?)
""", [
    (1, 5, "Emocionante e profundo."),
    (2, 5, "Genial!"),
    (3, 4, "Um cl√°ssico que nunca envelhece."),
    (4, 5, "Hist√≥ria muito complexa."),
    (5, 4, "Revolucion√°rio para a √©poca."),
    (6, 5, "Impactante e filos√≥fico."),
    (7, 5, "Di√°logos memor√°veis."),
    (8, 5, "Inspirador."),
    (9, 5, "√âpico."),
    (10, 5, "Grande sequ√™ncia."),
    (11, 5, "Final perfeito."),
    (12, 4, "√ìtimas batalhas."),
    (13, 5, "Performance incr√≠vel."),
    (14, 5, "Cl√°ssico dos anos 90."),
    (15, 4, "Visual impressionante."),
    (16, 5, "Suspense excelente."),
    (17, 4, "Muito envolvente."),
    (18, 5, "Importante para a hist√≥ria."),
    (19, 5, "Fantasia pura."),
    (20, 5, "Realista e intenso."),
    (21, 4, "√ìtima cr√≠tica social."),
    (22, 5, "Um Tarantino cl√°ssico."),
    (23, 4, "Di√°logos afiados."),
    (24, 5, "Ic√¥nico."),
    (25, 4, "Boa sequ√™ncia."),
    (26, 5, "Hist√≥ria longa, mas √≥tima."),
    (27, 5, "Obra-prima do crime."),
    (28, 5, "Atua√ß√£o impec√°vel."),
    (29, 4, "Personagem marcante."),
    (30, 5, "Muito divertido."),
    (31, 5, "Emocionante."),
    (32, 5, "Realidade brasileira nua e crua."),
    (33, 5, "Comovente."),
    (34, 5, "Reflexivo."),
    (35, 5, "Hil√°rio e cr√≠tico."),
    (36, 4, "Duro, mas necess√°rio."),
    (37, 4, "Com√©dia leve."),
    (38, 5, "Intenso."),
    (39, 5, "Continua√ß√£o √† altura."),
    (40, 5, "Maravilhoso filme nacional.")
])

con.commit()

In [7]:
# Etapa 4 - Leitura das tabelas

print('Lendo a tabela filmes: ')
for row in cur.execute('Select * from filmes'):
  print(row)

Lendo a tabela filmes:
(1, 'Interestelar', 'Christopher Nolan', 'Fic√ß√£o Cient√≠fica', '2014-11-06')
(2, 'Parasita', 'Bong Joon-ho', 'Drama', '2019-05-30')
(3, 'O Poderoso Chef√£o', 'Francis Ford Coppola', 'Crime', '1972-03-24')
(4, 'A Origem', 'Christopher Nolan', 'Fic√ß√£o Cient√≠fica', '2010-07-16')
(5, 'Matrix', 'Lana Wachowski', 'Fic√ß√£o Cient√≠fica', '1999-03-31')
(6, 'Clube da Luta', 'David Fincher', 'Drama', '1999-10-15')
(7, 'Pulp Fiction', 'Quentin Tarantino', 'Crime', '1994-10-14')
(8, 'Forrest Gump', 'Robert Zemeckis', 'Drama', '1994-07-06')
(9, 'O Senhor dos An√©is: A Sociedade do Anel', 'Peter Jackson', 'Fantasia', '2001-12-19')
(10, 'O Senhor dos An√©is: As Duas Torres', 'Peter Jackson', 'Fantasia', '2002-12-18')
(11, 'O Senhor dos An√©is: O Retorno do Rei', 'Peter Jackson', 'Fantasia', '2003-12-17')
(12, 'Gladiador', 'Ridley Scott', 'A√ß√£o', '2000-05-05')
(13, 'Coringa', 'Todd Phillips', 'Drama', '2019-10-03')
(14, 'Titanic', 'James Cameron', 'Romance', '1997-12-19')
(15, 'Avatar', 'James Cameron', 'Fic√ß√£o Cient√≠fica', '2009-12-18')
(16, 'Os Infiltrados', 'Martin Scorsese', 'Crime', '2006-10-06')
(17, 'Ilha do Medo', 'Martin Scorsese', 'Thriller', '2010-02-19')
(18, 'A Lista de Schindler', 'Steven Spielberg', 'Hist√≥rico', '1993-12-15')
(19, 'Jurassic Park', 'Steven Spielberg', 'Aventura', '1993-06-11')
(20, 'E.T. O Extraterrestre', 'Steven Spielberg', 'Fic√ß√£o Cient√≠fica', '1982-06-11')
(21, 'O Resgate do Soldado Ryan', 'Steven Spielberg', 'Guerra', '1998-07-24')
(22, 'Infiltrado na Klan', 'Spike Lee', 'Drama', '2018-08-10')
(23, 'Django Livre', 'Quentin Tarantino', 'Faroeste', '2012-12-25')
(24, 'Bastardos Ingl√≥rios', 'Quentin Tarantino', 'Guerra', '2009-08-21')
(25, 'Kill Bill Vol. 1', 'Quentin Tarantino', 'A√ß√£o', '2003-10-10')
(26, 'Kill Bill Vol. 2', 'Quentin Tarantino', 'A√ß√£o', '2004-04-16')
(27, 'O Irland√™s', 'Martin Scorsese', 'Crime', '2019-11-27')
(28, 'Os Bons Companheiros', 'Martin Scorsese', 'Crime', '1990-09-19')
(29, 'Taxi Driver', 'Martin Scorsese', 'Drama', '1976-02-08')
(30, 'O Lobo de Wall Street', 'Martin Scorsese', 'Com√©dia', '2013-12-25')
(31, 'A Vida √© Bela', 'Roberto Benigni', 'Drama', '1997-12-20')
(32, 'Cidade de Deus', 'Fernando Meirelles', 'Crime', '2002-08-30')
(33, 'Central do Brasil', 'Walter Salles', 'Drama', '1998-04-03')
(34, 'Que Horas Ela Volta?', 'Anna Muylaert', 'Drama', '2015-08-27')
(35, 'O Auto da Compadecida', 'Guel Arraes', 'Com√©dia', '2000-09-15')
(36, 'Carandiru', 'Hector Babenco', 'Drama', '2003-04-11')
(37, 'Se Eu Fosse Voc√™', 'Daniel Filho', 'Com√©dia', '2006-01-06')
(38, 'Tropa de Elite', 'Jos√© Padilha', 'A√ß√£o', '2007-10-05')
(39, 'Tropa de Elite 2', 'Jos√© Padilha', 'A√ß√£o', '2010-10-08')
(40, 'Aquarius', 'Kleber Mendon√ßa Filho', 'Drama', '2016-09-01')

In [8]:
print('Lendo a tabela avalia√ß√µes: ')
for row in cur.execute('Select * from avaliacoes'):
  print(row)

Lendo a tabela avalia√ß√µes:
(1, 1, 5, 'Emocionante e profundo.')
(2, 2, 5, 'Genial!')
(3, 3, 4, 'Um cl√°ssico que nunca envelhece.')
(4, 4, 5, 'Hist√≥ria muito complexa.')
(5, 5, 4, 'Revolucion√°rio para a √©poca.')
(6, 6, 5, 'Impactante e filos√≥fico.')
(7, 7, 5, 'Di√°logos memor√°veis.')
(8, 8, 5, 'Inspirador.')
(9, 9, 5, '√âpico.')
(10, 10, 5, 'Grande sequ√™ncia.')
(11, 11, 5, 'Final perfeito.')
(12, 12, 4, '√ìtimas batalhas.')
(13, 13, 5, 'Performance incr√≠vel.')
(14, 14, 5, 'Cl√°ssico dos anos 90.')
(15, 15, 4, 'Visual impressionante.')
(16, 16, 5, 'Suspense excelente.')
(17, 17, 4, 'Muito envolvente.')
(18, 18, 5, 'Importante para a hist√≥ria.')
(19, 19, 5, 'Fantasia pura.')
(20, 20, 5, 'Realista e intenso.')
(21, 21, 4, '√ìtima cr√≠tica social.')
(22, 22, 5, 'Um Tarantino cl√°ssico.')
(23, 23, 4, 'Di√°logos afiados.')
(24, 24, 5, 'Ic√¥nico.')
(25, 25, 4, 'Boa sequ√™ncia.')
(26, 26, 5, 'Hist√≥ria longa, mas √≥tima.')
(27, 27, 5, 'Obra-prima do crime.')
(28, 28, 5, 'Atua√ß√£o impec√°vel.')
(29, 29, 4, 'Personagem marcante.')
(30, 30, 5, 'Muito divertido.')
(31, 31, 5, 'Emocionante.')
(32, 32, 5, 'Realidade brasileira nua e crua.')
(33, 33, 5, 'Comovente.')
(34, 34, 5, 'Reflexivo.')
(35, 35, 5, 'Hil√°rio e cr√≠tico.')
(36, 36, 4, 'Duro, mas necess√°rio.')
(37, 37, 4, 'Com√©dia leve.')
(38, 38, 5, 'Intenso.')
(39, 39, 5, 'Continua√ß√£o √† altura.')
(40, 40, 5, 'Maravilhoso filme nacional.')

In [15]:
# Etapa 5 - Atualiza√ß√£o

cur.execute("UPDATE avaliacoes SET nota = '10' WHERE id = '1'")
con.commit()

In [16]:
print("Valida√ß√£o da tabela Avalia√ß√µes: ")
for row in cur.execute("select * from avaliacoes where id = 1"):
  print(row)

Valida√ß√£o da tabela Avalia√ß√µes:
(1, 1, 10, 'Emocionante e profundo.')

In [17]:
#Etapa 6 - Delete

cur.execute("DELETE FROM avaliacoes WHERE id = '1'")
con.commit()

In [18]:
print("Valida√ß√£o da tabela Avalia√ß√µes - ID Deletado: ")
for row in cur.execute("select * from avaliacoes where id = 1"):
  print(row)

Valida√ß√£o da tabela Avalia√ß√µes - ID Deletado: